$colorFonOne: #ffffff;
$colorFonTwo: rgba(255, 255, 255, 0);
$colorFonThree: #e6e6e6;
$colorFonFour: #cdcdcc;
$colorFonFive: #222224;
$colorContentOne: #222222;
$colorContentTwo: #f16d7f;
$colorContentThree: #ffffff;
$colorContentFour: #9f9f9f;
$colorContentFive: #fbfbfb;
$colorContentSix: #a4a4a4;
$colorContentSeven: #898989;
$colorContentEight: #ef5b70;
$colorContentNine: #6f6e6e;
$colorContentTen: #ebebeb;
