@mixin fontSource($size: false, $lh: false, $fw: false, $ls: false) {
  font-family: Lato, sans-serif;
  @if $size {
    font-size: $size;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $fw {
    font-weight: $fw;
  }
  @if $ls {
    letter-spacing: $ls;
  }
}

@mixin fontSource2($size: false, $lh: false, $fw: false, $ls: false) {
  font-family: Open Sans, sans-serif;
  @if $size {
    font-size: $size;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $fw {
    font-weight: $fw;
  }
  @if $ls {
    letter-spacing: $ls;
  }
}
