@import 'SCSS/mixins';
@import 'SCSS/colors';
@import 'SCSS/fonts';
@import 'SCSS/header';
@import 'SCSS/section-top';
@import 'SCSS/sectionSubscribe';
@import 'SCSS/section-info';
@import 'SCSS/footer';

* {
  margin: 0;
  padding: 0;
}

body {
  width: 1600px;
  margin: auto;
  background-color: gray;
}
.circle-xmark {
  width: 16px;
}
.section-center {
  background-color: $colorFonOne;
  padding-inline: 230px;
  padding-block: 89px 125px;
}
details {
  transition: 0.5s;
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
  summary {
    display: flex;
    padding-block: 30px;
    @include fontSource(16px, 1.2, 800, 0.025rem);
    text-transform: uppercase;
    color: #222222;
  }
  a {
    @include fontSource(14px, 33px, 400);
    color: $colorContentNine;
    padding-left: 19px;
    text-decoration: none;
    &:hover {
      color: $colorContentEight;
    }
  }
  .lorem {
    font-family: Lato;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    color: #b3b2b2;
    padding-bottom: 30px;
  }
}
